*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}
body{
    font-family: poppins, sans-serif;
    background-image: url(./image.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    /* background-position: center;  */

}
.top-bar{
    display: flex;
    justify-content: right;
    height: 20px;
    padding: 10px 100px 0 0; 
    

    
}

.top-bar a{
    margin: 5px;
    color: white;
    font-size: 25px;
}

.nav-bar{
    
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;

    
}
li {
    list-style: none;
    padding: 10px; 
}
li a{
    color: white;
    text-decoration: none;
    text-transform:capitalize;
    font-size: 19px;
}
.nav-bar{
    padding: 40px;
}
.nav-bar ul{
    display: flex;
    padding: 10px;
    margin-left: 150px;
}

.toggle{
    display: flex;
    margin-right: 40px;
    color: white;
    display: none;
}
.logo{
    margin-left: 30px;
}
.cont{
    margin-right: 60px;
    color: white;
    font-size: 19px;
}
@media screen and (max-width:900px){
    .nav-bar ul{
        display: none;
    }
    .toggle{
        display: block;
        margin-right: 10px;
    }
    .cont{
        margin-left: 0 px 0px px 300px;
    }
    body{
        background-image: url(./image.png);
    
    }

}
@media screen and (max-width: 884px){
    .logo{
        margin-left: 10px;
    }
}
@media screen and (max-width: 660px){
    .logo{
        margin-left: 3px;
    }
    body{
        background-image: url(./image\ -\ Copy\ \(2\).png);
    }
}
@media screen and (max-width: 561px){
    .logo{
        margin-left: 3px;
    }
    body{
        background-image: url(./image\ -\ Copy\ \(3\).png);
    }
}
@media screen and (max-width: 470px){
    .logo{
        margin-left: 1px;
    }
    body{
        background-image: url(./image\ -\ Copy\ \(4\).png);
    }
}
@media screen and (max-width: 405px ){
    .logo{
        margin-left: 0px;
    }
    body{
        background-image: url(./image\ -\ Copy\ \(5\).png);
    
    }
}
@media screen and (max-width: 390px){
    .logo{
        margin-left: 0px;
    }
    body{
        background-image: url(./image\ -\ Copy\ \(7\).png);
    }
}
@media screen and (max-width:320px){
    body{
        background-image: url(./image\ -\ Copy.png);
        height: 80vh;
    }
}










